{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raw text data</title>
</head>
<body>
{% block content %}
<h1>This is raw data by watson</h1>
<div id="result" style="color: #3a5363"></div>
 <script>
    var getJSON = function(url) {
  return new Promise(function(resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open('get', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status == 200) {
        resolve(xhr.response);
      } else {
        reject(status);
      }
    };
    xhr.send();
  });
};

getJSON('http://gateway-a.watsonplatform.net/calls/url/URLGetText?apikey=ae62c6cb3bf5b78f03e36b38d0fcf4115ca11032&&outputMode=json&url=http://www.cnn.com/2009/CRIME/01/13/missing.pilot/index.html').then(function(data) {
        result.innerText = data.text;
});
</script>

{% endblock %}
</body>
</html>